EVPN VLAN bundle data model

I have some pending changes to add MPLS support for SR OS, but they depend on a change to the data model to support both VLAN-aware and non-VLAN-aware bundles

Proposal:
```
evpn.bundle:
  vrf: xyz
  vlan_aware: True # Omit to auto-select based on device supported feature(s)
```

```
features:
 evpn:
  vlan_bundle: True
  vlan_aware_bundle: False
```

_Originally posted by @jbemmel in https://github.com/ipspace/netlab/discussions/554#discussioncomment-3897927_
    

Right now we have a global flag that means "create VLAN-aware bundles" instead of "create individual VLANs". I'm not sure anyone is using the VLAN-aware bundles (apart from the integration test case  😉) so I have no problem changing the data model (and documenting another breaking change 🤷‍♂️).

In any case, if we want to get more flexible, then the **evpn.bundle** should be moved into individual VRFs. I would prefer having a text value that would be set to **vlan** (RFC 7432 section 6.3) or **port** (section 6.2.1) or **whatever-else-you-prefer** (section 6.2). **features.evpn.bundle** would then be a list of allowed values.

Furthermore, we could add "l2only" keyword to the **features.evpn.bundle** list to indicate the VLANs in the bundle VRF should be layer-2-only VLANs.

@jbemmel Still waiting for that magic keyword ;)

I’m ok with that

> I’m ok with that

Nice to hear that. So I'll implement the change in EVPN module/documentation, for the moment having **vlan** as the only valid keyword to support Arista EOS, and you'll add whatever you need for SR/OS ;)